<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>React praktika</title>
        <style>
            {
            font-family: sans-serif;
            margin: 0;
            }
            .showbutton {
            height: 40px;
            width: 200px;
            }
            .xbutton {
            height: 15px;
            width: 15px;
            }
            .warning {
            background-color: red;
            padding-right: 20cm;
            text-align: right;
            width: 100%;
            padding: 10px;

            font-size: 14pt;
            color: white;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>